@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
// Variables
// Colors
$orange-main: #cd6326;
$orange-light: #e39128;
$orange-dark: #8f5613;
$font-dark: #333;
$font-grey: #666;
$font-light: #f7f7f7;
$bg-color-header: #02160b;
$bg-color-latest: #ccc;
$bg-color-footer: #181617;

// Mesurment
$layout-width: 1440px;
$container-width: 1200px;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, 
body {
    font-family: 'Open Sans', sans-serif;
    color: $font-dark;
    overflow-x: hidden;

}

ul {
    list-style: none;
}

a {
    color: $font-light;
    text-decoration: none;

    &:hover {
        color: $orange-main;
    }

    &:active {
        color: $orange-dark;
    }
}

.layout {
    max-width: 1440px;
    margin: 0 auto;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 16px;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: 400;

    svg:hover path {
        fill: $orange-main;
    }
}

header {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 1220px;
    width: 100%;
    height: 110px;
    color: $font-light;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 10px;
    margin: 0 auto;
    

    .nav-links {
        display: flex;
        padding-top: 14px;
        gap: 63px;
        font-size: 23px;

        img {
            width: 24px;
            height: 24px;
        }

        .search svg:hover path {
            fill: $orange-main;
        }

        .sign-in {
            border: 1px solid $orange-main;
            border-radius: 5px;
            padding: 9px 25px;
            font-family: 'Roboto', sans-serif;

            &:hover {
                color: $font-light;
                background-color: $orange-main;
            }
    
            &:active {
                background-color: $orange-dark;
            }
        }
    }

    .burger {
        display: none;
        margin-top: 15px;
        cursor: pointer;
        z-index: 2;
        
        &:hover div {
            background-color: $orange-main;
        }
        
        div{
            width: 25px;
            height: 3px;
            background-color: $font-light;
            margin: 5px;
            transition: all 0.3s ease;
        }
    }
}

.survival {
    background-color: $bg-color-header;
    position: relative;

    .layout {
        background: url('../img/header.png');
        background-size: cover;
        background-position: center;
        padding: 204px 0 240px 0;
    

        h1 {
            color: $orange-main;
            font-size: 48px;
            letter-spacing: 2px;
            font-weight: 400;
        }

        p {
            max-width: 274px;
            color: $font-light;
            margin: 57px 0 48px 0;
            font-size: 18px;
            line-height: 1.5;
        }

        .donation {
            display: inline-block;
            background-color: $orange-main;
            border-radius: 5px;
            padding: 14px 44px;
            width: 160px;
            height: 60px;
            font-family: 'Roboto', sans-serif;
            font-size: 23px;

            &:hover {
                color: $font-light;
                background-color: $orange-light;
            }
            
            &:active {
                background-color: $orange-dark;
            }
        }
    }
}

.articles {
    background-color: $bg-color-latest;
    padding: 123px 0 120px 0;

    h2 {
        text-align: center;
        font-weight: 400;
        font-size: 48px;
    }

    .lead {
        text-align: center;
        margin: 24px 0 122px 0;
        font-size: 24px;
    }

    .posts {
        display: flex;
        gap: 60px;
        justify-content: center;
        position: relative;

        .post {
            position: relative;

            img {
                width: 300px;
                height: 360px;
            }

            .desc {
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                color: $font-light;

                h4 {
                    text-align: center;
                    font-weight: 400;
                    font-size: 22px;
                }

                p {
                    text-align: center;
                    margin: 15px 0 47px 0;
                    font-size: 17px;
                }
            }
        }

        .left-arrow {
            position: absolute;
            top: 145px;
            left: 0;

            svg:hover path {
                fill: $orange-main;
            }
        }

        .right-arrow {
            position: absolute;
            top: 145px;
            right: 0;

            svg:hover path {
                fill: $orange-main;
            }
        }
    }
}

.newsletter {
    background-color: $bg-color-latest;
    padding: 116px 0 239px 0;

    h3 {
        text-align: center;
        font-weight: 400;
        font-size: 27px;
        margin-bottom: 61px;
    }

    form {
        display: flex;
        justify-content: center;

        .email-input {
            background-color: $bg-color-latest;
            border: 1px solid $font-grey;
            border-right: none;
            width: 541px;
            height: 62px;
            padding-left: 14px;
            margin-left: -2px;
            font-size: 23px;

            &:focus {
                border: none;
            }
        }

        .submit-btn {
            background-color: $orange-main;
            border: none;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            width: 120px;
            height: 62px;          
            cursor: pointer;
            color: $font-light;
            font-size: 23px;

            &:hover {
                background-color: $orange-light;
            }

            &:active {
                background-color: $orange-dark;
            }
        }
    }
}

footer {
    background-color: $bg-color-footer;

    .layout {
        background: url(../img/footer.jpg);
        padding: 149px 0;

        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .footer-menu {
                margin-left: 13px;
                ul {
                    display: flex;
                    gap: 89px;
                    font-size: 23px;
                }
            }

            .social-media {
                ul {
                    display: flex;
                    gap: 27px;
                    margin-top: 4px;

                    a {
                        display: inline-block;
                        width: 40px;
                        height: 40px;
                        border-radius: 20px;

                        &:hover {
                            background: $orange-main;
                            opacity: .8;
                        }

                        &:active {
                            background: $orange-dark;
                            opacity: .8;
                        }
                    }


                    .facebook {
                        background: url(../img/facebook.svg);
                        background-repeat: no-repeat;
                    }
                    .instagram {
                        background: url(../img/instagram.svg);
                        background-repeat: no-repeat;
                    }
                    .pinterest {
                        background: url(../img/pinterest.svg);
                        background-repeat: no-repeat;
                    }
                    .telegram {
                        background: url(../img/telegram.svg);
                        background-repeat: no-repeat;
                    }
                }

            }
        }
    }
}

@media screen and (max-width: 1024px){
    header {
        .nav-links {
            gap: 40px
        }
    }

    footer .layout .container{
        .footer-menu ul{
            gap: 35px;
        }

        .social-media ul{
            gap: 15px;
        }
    }
}

@media screen and (max-width: 768px){
    header {
        .nav-links {
            position: absolute;
            right: 0;
            top: 0;
            height: 106vh;
            background-color: $bg-color-latest;
            margin: -20px 0 0 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: calc(100% / 1.3);
            transform: translate(100%);
            transition: transform 0.3s ease-in;
            z-index: 1;
            
            li {
                opacity: 0;
                
                a {
                    color: $font-dark;

                    svg path{
                        fill: $font-dark;
                    }
                }
            }
        }

        .burger {
            display: block;

        }

        .nav-active{
            transform: translate(0%);
        }
    }

    footer .layout{
        padding: 60px 0;
        .container {
            flex-direction: column;
            gap: 30px;
        }

    }

    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }
        to {
            opacity: 1;
            transform: translateX(0px);
        }
        
    }

    .toggle .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
        background-color: $font-dark;
    }
    .toggle .line2 {
        opacity: 0;
    }
    .toggle .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
        background-color: $font-dark;
    }
}


