@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Open Sans', sans-serif;
  color: #333;
}

ul {
  list-style: none;
}

a {
  color: #f7f7f7;
  text-decoration: none;
}

a:hover {
  color: #cd6326;
}

a:active {
  color: #8f5613;
}

.layout {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  font-weight: 400;
}

.logo svg:hover path {
  fill: #cd6326;
}

header {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 1220px;
  width: 100%;
  color: #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 20px 10px;
  margin: 0 auto;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 14px;
  gap: 63px;
  font-size: 23px;
}

header ul img {
  width: 24px;
  height: 24px;
}

header ul .search svg:hover path {
  fill: #cd6326;
}

header ul .sign-in {
  border: 1px solid #cd6326;
  border-radius: 5px;
  padding: 9px 25px;
  font-family: 'Roboto', sans-serif;
}

header ul .sign-in:hover {
  color: #f7f7f7;
  background-color: #cd6326;
}

header ul .sign-in:active {
  background-color: #8f5613;
}

.survival {
  background-color: #02160b;
  position: relative;
}

.survival .layout {
  background: url("../img/header.png");
  background-size: cover;
  background-position: center;
  padding: 204px 0 240px 0;
}

.survival .layout h1 {
  color: #cd6326;
  font-size: 48px;
  letter-spacing: 2px;
  font-weight: 400;
}

.survival .layout p {
  max-width: 274px;
  color: #f7f7f7;
  margin: 57px 0 48px 0;
  font-size: 18px;
  line-height: 1.5;
}

.survival .layout .donation {
  display: inline-block;
  background-color: #cd6326;
  border-radius: 5px;
  padding: 14px 44px;
  width: 160px;
  height: 60px;
  font-family: 'Roboto', sans-serif;
  font-size: 23px;
}

.survival .layout .donation:hover {
  color: #f7f7f7;
  background-color: #e39128;
}

.survival .layout .donation:active {
  background-color: #8f5613;
}

.articles {
  background-color: #ccc;
  padding: 123px 0 120px 0;
}

.articles h2 {
  text-align: center;
  font-weight: 400;
  font-size: 48px;
}

.articles .lead {
  text-align: center;
  margin: 24px 0 122px 0;
  font-size: 24px;
}

.articles .posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.articles .posts .post {
  position: relative;
}

.articles .posts .post img {
  width: 300px;
  height: 360px;
}

.articles .posts .post .desc {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #f7f7f7;
}

.articles .posts .post .desc h4 {
  text-align: center;
  font-weight: 400;
  font-size: 22px;
}

.articles .posts .post .desc p {
  text-align: center;
  margin: 15px 0 47px 0;
  font-size: 17px;
}

.articles .posts .left-arrow {
  position: absolute;
  top: 145px;
  left: 0;
}

.articles .posts .left-arrow svg:hover path {
  fill: #cd6326;
}

.articles .posts .right-arrow {
  position: absolute;
  top: 145px;
  right: 0;
}

.articles .posts .right-arrow svg:hover path {
  fill: #cd6326;
}

.newsletter {
  background-color: #ccc;
  padding: 116px 0 239px 0;
}

.newsletter h3 {
  text-align: center;
  font-weight: 400;
  font-size: 27px;
  margin-bottom: 61px;
}

.newsletter form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.newsletter form .email-input {
  background-color: #ccc;
  border: 1px solid #666;
  border-right: none;
  width: 541px;
  height: 62px;
  padding-left: 14px;
  margin-left: -2px;
  font-size: 23px;
}

.newsletter form .email-input:focus {
  border: none;
}

.newsletter form .submit-btn {
  background-color: #cd6326;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 120px;
  height: 62px;
  color: #f7f7f7;
  font-size: 23px;
}

.newsletter form .submit-btn:hover {
  background-color: #e39128;
}

.newsletter form .submit-btn:active {
  background-color: #8f5613;
}

footer {
  background-color: #181617;
}

footer .layout {
  background: url(../img/footer.jpg);
  padding: 149px 0;
}

footer .layout .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .layout .container .footer-menu {
  margin-left: 13px;
}

footer .layout .container .footer-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 89px;
  font-size: 23px;
}

footer .layout .container .social-media ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 27px;
  margin-top: 4px;
}

footer .layout .container .social-media ul a {
  display: inline-block;
  width: 40px;
  height: 40px;
}

footer .layout .container .social-media ul .facebook {
  background: url(../img/facebook.svg);
}

footer .layout .container .social-media ul .instagram {
  background: url(../img/instagram.svg);
}

footer .layout .container .social-media ul .pinterest {
  background: url(../img/pinterest.svg);
}

footer .layout .container .social-media ul .telegram {
  background: url(../img/telegram.svg);
}
/*# sourceMappingURL=style.css.map */