@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
// Variables
// Colors
$orange-main: #cd6326;
$orange-light: #e39128;
$orange-dark: #8f5613;
$font-dark: #333;
$font-grey: #666;
$font-light: #f7f7f7;
$bg-color-header: #02160b;
$bg-color-latest: #ccc;
$bg-color-footer: #181617;

// Mesurment
$layout-width: 1440px;
$container-width: 1200px;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, 
body {
    font-family: 'Open Sans', sans-serif;
    color: $font-dark;
}

ul {
    list-style: none;
}

a {
    color: $font-light;
    text-decoration: none;

    &:hover {
        color: $orange-main;
    }

    &:active {
        color: $orange-dark;
    }
}

.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}

header {
    position: absolute;
    width: 100%;
    color: $font-light;

    nav {
        display: flex;
        padding: 20px 0;
        align-items: center;
        justify-content: space-between;

        .logo {
            display: flex;
            align-items: center;
            gap: 16px;
            font-size: 32px;
            font-weight: 400;

            svg:hover path {
                fill: $orange-main;
            }
        }

        ul {
            display: flex;
            align-items: center;
            gap: 65px;
            font-size: 23px;

            img {
                width: 24px;
                height: 24px;
            }

            .search svg:hover path {
                fill: $orange-main;
            }

            .sign-in {
                border: 1px solid $orange-main;
                border-radius: 5px;
                padding: 8px 23px;
                font-family: 'Roboto', sans-serif;

                &:hover {
                    color: $font-light;
                    background-color: $orange-main;
                }
        
                &:active {
                    background-color: $orange-dark;
                }
            }
        }
    }
}

.survival {
    background: url('../img/header.png');
    height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 204px 0 240px 0;

    h1 {
        color: $orange-main;
        font-size: 48px;
        letter-spacing: 2px;
        font-weight: 400;
    }

    p {
        max-width: 274px;
        color: $font-light;
        margin: 57px 0 49px 0;
        font-size: 18px;
        line-height: 1.5;
    }

    a {
        display: inline-block;
        background-color: $orange-main;
        border-radius: 5px;
        padding: 14px 45px;
        width: 160px;
        height: 60px;
        font-family: 'Roboto', sans-serif;
        font-size: 23px;

        &:hover {
            color: $font-light;
            background-color: $orange-light;
        }
        
        &:active {
            background-color: $orange-dark;
        }
    }
}

.articles {
    background-color: $bg-color-latest;
    padding: 147px 0 120px 0;

    h2 {
        text-align: center;
        font-weight: 400;
        font-size: 48px;
    }

    .lead {
        text-align: center;
        margin: 26px 0 120px 0;
        font-size: 24px;
    }

    .posts {
        display: flex;
        gap: 60px;
        justify-content: center;

        .post {
            position: relative;

            img {
                width: 300px;
                height: 360px;
            }

            .desc {
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                color: $font-light;

                h4 {
                    text-align: center;
                    font-weight: 400;
                    font-size: 22px;
                }

                p {
                    text-align: center;
                    margin: 15px 0 47px 0;
                    font-size: 17px;
                }
            }
        }
    }
}

.newsletter {
    background-color: $bg-color-latest;
    padding: 117px 0 239px 0;

    h3 {
        text-align: center;
        font-weight: 400;
        font-size: 27px;
        margin-bottom: 61px;
    }

    form {
        display: flex;
        justify-content: center;

        .email-input {
            background-color: $bg-color-latest;
            padding-left: 14px;
            border: 1px solid $font-grey;
            border-right: none;
            width: 540px;
            height: 62px;
            font-size: 23px;

            &:focus {
                border: none;
            }
        }

        .submit-btn {
            background-color: $orange-main;
            border: none;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            width: 120px;
            height: 62px;          
            color: $font-light;
            font-size: 23px;

            &:hover {
                background-color: $orange-light;
            }

            &:active {
                background-color: $orange-dark;
            }
        }
    }
}

footer {
    background: url(../img/footer.jpg);
    padding: 149px 0;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .branding {
            display: flex;
            gap: 16px;
            align-items: center;

            a {
                display: inline-block;
                font-size: 32px;
            }
        }

        .footer-menu {
            margin-left: 13px;
            ul {
                display: flex;
                gap: 89px;
                font-size: 23px;
            }
        }

        .social-media {
            ul {
                display: flex;
                align-content: center;
                gap: 27px;

                a {
                    display: block;
                    width: 40px;
                    height: 40px;
                    padding-top: 5px;
                    background-color: $font-light;
                    border-radius: 20px;
                    text-align: center;

                    &:hover {
                        background-color: $orange-light;
                    }
                }
            }

        }
    }
}

